<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UploadNovoBusiness</servlet-name>
        <servlet-class>br.lp2.business.UploadNovoBusiness</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadNovoBusiness</servlet-name>
        <url-pattern>/UploadNovoBusiness</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <ejb-local-ref>
        <ejb-ref-name>UserSteeltratDAO</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ind.br.vedax.model.dao.GenericDAO</local>
        <ejb-link>Steeltrat-ejb.jar#UserSteeltratDAO</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>EmployeeDAO</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ind.br.vedax.model.dao.GenericDAO</local>
        <ejb-link>Steeltrat-ejb.jar#EmployeeDAO</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PositionSteeltratDAO</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ind.br.vedax.model.dao.GenericDAO</local>
        <ejb-link>Steeltrat-ejb.jar#PositionSteeltratDAO</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PositionSteeltratDAO1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ind.br.vedax.model.dao.GenericDAO</local>
        <ejb-link>Steeltrat-ejb.jar#PositionSteeltratDAO</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>DepartamentDAO</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ind.br.vedax.model.dao.GenericDAO</local>
        <ejb-link>Steeltrat-ejb.jar#DepartamentDAO</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>EmployeeDAO1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ind.br.vedax.model.dao.GenericDAO</local>
        <ejb-link>Steeltrat-ejb.jar#EmployeeDAO</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>DepartamentDAO1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ind.br.vedax.model.dao.GenericDAO</local>
        <ejb-link>Steeltrat-ejb.jar#DepartamentDAO</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PositionSteeltratDAO2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ind.br.vedax.model.dao.GenericDAO</local>
        <ejb-link>Steeltrat-ejb.jar#PositionSteeltratDAO</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>UserSteeltratDAO1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ind.br.vedax.model.dao.GenericDAO</local>
        <ejb-link>Steeltrat-ejb.jar#UserSteeltratDAO</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MaterialDAO</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ind.br.vedax.model.dao.GenericDAO</local>
        <ejb-link>Steeltrat-ejb.jar#MaterialDAO</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>StandardDAO</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ind.br.vedax.model.dao.GenericDAO</local>
        <ejb-link>Steeltrat-ejb.jar#StandardDAO</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ProductDAO</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ind.br.vedax.model.dao.GenericDAO</local>
        <ejb-link>Steeltrat-ejb.jar#ProductDAO</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>AddressDAO</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ind.br.vedax.model.dao.GenericDAO</local>
        <ejb-link>Steeltrat-ejb.jar#AddressDAO</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ReceiptDAO</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ind.br.vedax.model.dao.GenericDAO</local>
        <ejb-link>Steeltrat-ejb.jar#ReceiptDAO</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>EmployeeDAO2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ind.br.vedax.model.dao.GenericDAO</local>
        <ejb-link>Steeltrat-ejb.jar#EmployeeDAO</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>StandardDAO1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ind.br.vedax.model.dao.GenericDAO</local>
        <ejb-link>Steeltrat-ejb.jar#StandardDAO</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MaterialDAO1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ind.br.vedax.model.dao.GenericDAO</local>
        <ejb-link>Steeltrat-ejb.jar#MaterialDAO</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>StandardDAO2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ind.br.vedax.model.dao.GenericDAO</local>
        <ejb-link>Steeltrat-ejb.jar#StandardDAO</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ProductDAO1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ind.br.vedax.model.dao.GenericDAO</local>
        <ejb-link>Steeltrat-ejb.jar#ProductDAO</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ItemsReceiptDAO</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ind.br.vedax.model.dao.GenericDAO</local>
        <ejb-link>Steeltrat-ejb.jar#ItemsReceiptDAO</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ClientDAO</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ind.br.vedax.model.dao.GenericDAO</local>
        <ejb-link>Steeltrat-ejb.jar#ClientDAO</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ReceiptDAO1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ind.br.vedax.model.dao.GenericDAO</local>
        <ejb-link>Steeltrat-ejb.jar#ReceiptDAO</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ClientDAO1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ind.br.vedax.model.dao.GenericDAO</local>
        <ejb-link>Steeltrat-ejb.jar#ClientDAO</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>AddressDAO1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ind.br.vedax.model.dao.GenericDAO</local>
        <ejb-link>Steeltrat-ejb.jar#AddressDAO</ejb-link>
    </ejb-local-ref>
</web-app>
