*, *:after, *:before{
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #444;
    background: #eee;
}


h1 {
    font-weight: normal;
    letter-spacing: -1px;
    color: #34495E;
}



.menu{
    background: #222;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.menu .menu-list, .menu .sub-menu{
    list-style: none;
}
.menu a{
    color: #007cd2;
    text-decoration: none;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing:0.2em;
}
.menu > .menu-list > li{
    float: left;
    position: relative;
}
.menu > .menu-list > li > a {
    padding: 20px;
    margin: 0 5px;
    background: #222;
}
.menu > .menu-list > li:hover a {
    background: #222;
    color: #fff;
}
.menu > .menu-list > li:hover > .sub-menu {
    display: block;
    background: #007cd2;
}
.menu > .menu-list > li > .sub-menu {
    position: absolute;
    top: 50px;
    left: 5px;
    background: #222;
    min-width: 200px;
    z-index: 1000;
    display: none;
}
.menu > .menu-list > li > .sub-menu > li > a {
    padding: 10px 20px;
}
.menu > .menu-list > li > .sub-menu > li:hover > a {
    padding: 10px 20px;
    background: #007cd2;
    color: #fff;
}
.menu:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#black-bar{
    background-color: #007cd2;
}
#black-bar #homePage{
    position:relative;
    width:70px;
    float:left;
    height:45px;
    background-repeat: no-repeat;
}


#black-bar h1 { 
    color: #fff; 
    font-family: 'Bitter', serif;
    font-size: 30px; 
    font-weight: normal;
    margin-top: 0; 
    text-shadow: 0 1px 1px #000000; 
    text-transform: uppercase;
    left: 80px;
    height: auto;
}

#black-bar #logout{
    float:right;
    height: 40px;
    width: auto;
    position: initial;
    margin-top: -40px;
}


input,
select{
    font-size: 14px;
}


input[type="text"],
input[type="number"],
select,
input[type="password"]{
    line-height: 1px;
    border: solid 1px #ccc;
    transition: box-shadow 0.3s, border 0.3s;
}

input[type="text"]:focus,
input[type="text"].focus,
input[type="number"]:focus,
input[type="number"].focus,
input[type="date"]:focus,
input[type="date"].focus,
select:focus,
select.focus,
input[type="password"]:focus,
input[type="password"].focus{
    border: solid 1px #ccc;
    box-shadow: 0 0 3px 1px #969696;
}

input[type="button"]{
    font-size: 16px;
    background: #007cd2;
    border-radius: 3px;
    border-color: #fff;
    color:#fff;
    font-weight: 700;
    text-align: center;
    background-color: #007cd2;
    text-transform: uppercase;
    padding: 10px auto;
    box-sizing: border-box;
}

input[type="button"]:hover, 
input[type="button"]:focus {
    background-color: #64AFF0;
    border-color: #fff;
    color: #fff;
}

input[type="button"]:active {
    border-bottom: 1px solid;
}






.returnMsgSuccessfully {
    background-color: #2ecc71;
    border: 1px solid rgba(46, 204, 113, 0);
    padding: 5px;
    animation: anim 3s;
    text-transform: uppercase;
}
.returnMsgError {
    background-color: #E02A28;
    color: #ffffff;
    border: 1px solid rgba(46, 204, 113, 0);
    padding: 5px;
    animation: anim 3s;
    text-transform: uppercase;
}
@keyframes anim{
    0% {opacity:0;}
    100% {opacity:1;}
}



@import url("http://fonts.googleapis.com/css?family=Montserrat:300,400,700");
.rwd-table {
    margin: 1em 0;
    min-width: 300px;
}
.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.rwd-table th {
    display: none;
}
.rwd-table td {
    display: block;
}
.rwd-table td:first-child {
    padding-top: .5em;
}
.rwd-table td:last-child {
    padding-bottom: .5em;
}
.rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}
@media (min-width: 480px) {
    .rwd-table td:before {
        display: none;
    }
}
.rwd-table th, .rwd-table td {
    text-align: left;
}
@media (min-width: 480px) {
    .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: .25em .5em;
    }
    .rwd-table th:first-child, .rwd-table td:first-child {
        padding-left: 0;
    }
    .rwd-table th:last-child, .rwd-table td:last-child {
        padding-right: 0;
    }
}
.rwd-table {
    background: #34495E;
    color: #fff;
    border-radius: .4em;
    overflow: hidden;
}
.rwd-table tr {
    border-color: #46637f;
}
.rwd-table th, .rwd-table td {
    margin: .5em 1em;
}
@media (min-width: 480px) {
    .rwd-table th, .rwd-table td {
        padding: 1em !important;
    }
}
.rwd-table th, .rwd-table td:before {
    color: #dd5;
}